{% extends 'games/main.html' %}

{% block title %}
    Об аккаунте {{ user.username }}
{% endblock title %}

{% block games %}
    <div>
        <p>Логин: {{ user.username }}</p>
        <p>Имя: {{ user.first_name }}</p>
        <p>Фамилия: {{ user.last_name }}</p>
        <p>Email: {{ user.email }} <a href="{% url 'account_email' %}"
        >Сменить Email</a> {% if emailaddress.verified %}
            <span class="verified"> Подтвержден</span>
        {% else %}
            <span class="unverified">Не подтвержден</span>
        {% endif %}</p>
    </div>

{% endblock games %}