{% extends 'games/main.html' %}

{% load i18n static %}

{% block title %}
    {% trans 'Об аккаунте' %} {{ user.username }}
{% endblock title %}

{% block games %}
    <div>
        <p>{% trans 'Логин:' %} {{ user.username }}</p>
        <p>{% trans 'Имя:' %} {{ user.first_name }}</p>
        <p>{% trans 'Фамилия:' %} {{ user.last_name }}</p>
        <p>Email: {{ user.email }} <a href="{% url 'account_email' %}"
        >{% trans 'Сменить Email' %}</a> {% if emailaddress.verified %}
            <span class="verified">{% trans 'Подтвержден' %}</span>
        {% else %}
            <span class="unverified">{% trans 'Не подтвержден' %}</span>
        {% endif %}</p>
    </div>

{% endblock games %}