{% extends 'games/main.html' %}

{% load static %}

{% block title %}
    {{ game.name }}
{% endblock %}

{% block container %}
    <div class="container py-md-3">
{% endblock container %}

{% block sidebar %}
    <div class="side-bar col-lg-4">
{% endblock sidebar %}

{% block title_games %}
    {{ game.name }}
{% endblock title_games %}
{% block games %}
    <div class="left-ads-display col-lg-8">
    <div class="row">
        <div class="desc1-left col-md-6">
            <img src="{{ game.poster.url }}" class="img-fluid" alt="">
        </div>
        <div class="desc1-right col-md-6 pl-lg-4">
            <h3 class="editContent" style="outline: none; cursor: inherit;">
                {{ game.name }}
            </h3>
            <h5 class="editContent"></h5>
            <ul>

                <li style="list-style: none">
                        <span><b>Издатель:</b>
                            {% for publisher in game.publisher.all %}
                                <a href="{{ publisher.get_absolute_url }}">
                                    {{ publisher.name }}
                                </a>
                            {% endfor %}
                        </span>
                </li>
                <li style="list-style: none"><span><b>Разработчик:</b>
                    {% for developer in game.developer.all %}
                        <a href="{{ developer.get_absolute_url }}">
                                {{ developer.name }}
                            </a>
                    {% endfor %}
                                </span></li>
                <li style="list-style: none"><span><b>Жанр:</b>
                    {% for genre in game.genres.all %}
                        {{ genre.name }}
                    {% endfor %}
                                </span>
                </li>
                <li style="list-style: none"><span><b>Платформы:</b>
                    {% for platform in game.game_platform.all %}
                        {{ platform.name }}
                    {% endfor %}
                                </span>
                </li>
                <li style="list-style: none"><span><b>Год:</b> {{ game.release }}</span></li>
                <li>
                    <form action="{% url 'add_rating' %}" method="post" name="rating">
                        <b>Оценка:</b>
                        {% csrf_token %}
                        <input type="hidden" value="{{ game.id }}" name="game">
                        <span class="rating">
                                {% for k, v in star_form.fields.star.choices %}
                                    <input id="rating{{ v }}" type="radio" name="star" value="{{ k }}">
                                    <label for="rating{{ v }}">{{ k }}</label>
                                {% endfor %}
                            </span>
                        {{ star.avg | floatformat }}
                        <span class="editContent">


                        </span>
                    </form>
                </li>

            </ul>


            <div class="share-desc">
                <div class="share">
                    <h4 class="editContent"
                        style="outline: none; cursor: inherit;">
                        Share:</h4>
                    <ul class="w3layouts_social_list list-unstyled">
                        <li>
                            <a href="#" class="w3pvt_facebook editContent"
                               style="outline: none; cursor: inherit;">
                                                <span class="fa fa-facebook-f"
                                                      style="outline: none; cursor: inherit;"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="w3pvt_twitter editContent"
                               style="outline: none; cursor: inherit;">
                                                <span class="fa fa-twitter"
                                                      style="outline: none; cursor: inherit;"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="w3pvt_dribble editContent"
                               style="outline: none; cursor: inherit;">
                                                <span class="fa fa-dribbble"
                                                      style="outline: none; cursor: inherit;"></span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="clearfix"></div>
            </div>
            </ul>
        </div>
    </div>
    <div class="row sub-para-w3layouts mt-5">

    <h3 class="shop-sing editContent" style="outline: none; cursor: inherit;">
        About game: {{ game.name }}</h3>
    <p>
        {% for image in game.gamesimages_set.all %}
            <img src="{{ image.image.url }}" class="img-game-shots" alt="{{ image.description }}">
        {% endfor %}
    </p>
    <p class="editContent">
        {{ game.description|safe }}
    </p>



    <script>
        function addReview(name, id) {
            document.getElementById("contactparent").value = id;
            document.getElementById("contactcomment").innerText = `${name}, `


        }
    </script>
{% endblock %}
</div>
</div>