{% load i18n game_tag %}
<div class="search-bar w3layouts-newsletter">
    <h3 class="sear-head editContent">{% trans 'Поиск игр:' %}</h3>
    <form action="{% url 'search' %}" method="get" class="d-flex editContent">
        <input type="search" placeholder="{% trans 'Введите название...' %}" name="q" class="form-control" required="" aria-label="">
        <button type="submit" class="btn1 btn"><span class="fa fa-search" aria-hidden="true"></span></button>
    </form>
</div>
<!--preference -->
<form action="{% url 'filter' %}" method="get" name="filter">
    <div class="left-side my-4">
        <h3 class="sear-head editContent">{% trans 'Жанры:' %}</h3>
        <ul class="w3layouts-box-list">
            {% for genre in view.get_genres %}
                <li class="editContent">
                    <input type="checkbox" class="checked" name="genre" value="{{ genre.id }}">
                    <span class="span editContent">{{ genre.name }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
<!-- // preference -->
<!-- discounts -->
<div class="left-side">
        <h3 class="sear-head editContent">{% trans 'Игровые платформы:' %}</h3>
        <ul class="w3layouts-box-list">
            {% for platform in view.get_platform %}
                <li class="editContent">
                    <input type="checkbox" class="checked" name="game_platform" value="{{ platform.id }}">
                    <span class="span editContent">{{ platform.name}}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
    <button type="submit" class="btn1 btn">{% trans 'Показать выбранные категории' %}</button>
</form>
<!-- //discounts -->


<!-- reviews -->
<div class="customer-rev left-side my-4">
    {% get_last_games count=2 %}
</div>

